
Conway/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Conway/obj/Debug/Conway.pdb
Conway/obj/Debug/Conway.exe
Conway/obj/Debug/Conway.csproj.FileListAbsolute.txt
Conway/bin/Debug/Conway.pdb
Conway/bin/Debug/Conway.exe
.vs/Conway/v14/.suo
Conway/bin/Debug/Conway.vshost.exe.manifest
