
Conway/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Conway/obj/Debug/Conway.pdb
Conway/obj/Debug/Conway.exe
Conway/obj/Debug/Conway.csproj.FileListAbsolute.txt
Conway/bin/Debug/Conway.pdb
Conway/bin/Debug/Conway.exe
.vs/Conway/v14/.suo
Conway/bin/Debug/Conway.vshost.exe.manifest
.vs/Conway/v16/Server/sqlite3/db.lock
.vs/Conway/v16/Server/sqlite3/storage.ide
.vs/Conway/v16/Server/sqlite3/storage.ide-shm
.vs/Conway/v16/Server/sqlite3/storage.ide-wal
.vs/Conway/v16/.suo
Conway/obj/Debug/Conway.csproj.CoreCompileInputs.cache
Conway/obj/Debug/Conway.csprojAssemblyReference.cache
*.exe
.vs/Conway/v14/.suo
*.pdb
*.Cache

.vs/Conway/v14/.suo
Conway/bin/Debug/Conway.vshost.exe.config
Conway/bin/Debug/Conway.vshost.exe
Conway/bin/Debug/Conway.pdb
Conway/bin/Debug/Conway.exe.config
Conway/bin/Debug/Conway.exe
Conway/obj/Debug/Conway.AddNewFunction.resources
Conway/obj/Debug/Conway.ControlSettings.resources
Conway/obj/Debug/Conway.csproj.CoreCompileInputs.cache
Conway/obj/Debug/Conway.csproj.FileListAbsolute.txt
Conway/obj/Debug/Conway.csproj.GenerateResource.Cache
Conway/obj/Debug/Conway.csprojAssemblyReference.cache
Conway/obj/Debug/Conway.csprojResolveAssemblyReference.cache
Conway/obj/Debug/Conway.exe
Conway/obj/Debug/Conway.Form1.resources
Conway/obj/Debug/Conway.Function.resources
Conway/obj/Debug/Conway.pdb
Conway/obj/Debug/Conway.Properties.Resources.resources
Conway/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Conway/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Conway/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Conway/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Conway/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Conway/obj/Debug/TempPE/CellularAutomataDataSet.Designer.cs.dll
