
Conway/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Conway/obj/Debug/Conway.pdb
Conway/obj/Debug/Conway.exe
Conway/obj/Debug/Conway.csproj.FileListAbsolute.txt
Conway/bin/Debug/Conway.pdb
Conway/bin/Debug/Conway.exe
.vs/Conway/v14/.suo
Conway/bin/Debug/Conway.vshost.exe.manifest
.vs/Conway/v16/Server/sqlite3/db.lock
.vs/Conway/v16/Server/sqlite3/storage.ide
.vs/Conway/v16/Server/sqlite3/storage.ide-shm
.vs/Conway/v16/Server/sqlite3/storage.ide-wal
.vs/Conway/v16/.suo
Conway/obj/Debug/Conway.csproj.CoreCompileInputs.cache
Conway/obj/Debug/Conway.csprojAssemblyReference.cache
*.exe
.vs/Conway/v14/.suo
*.pdb
*.Cache
